.content-container {
    display: flex;
    padding: 20px 20px;
}

.movie-item {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 10px 18px -30px 18px;
}

.movie-item .movie-img:hover {
    border: 2px solid #1caf9a;
}

.movie-item .movie-name {
    position: relative;
    line-height: 30px;
    top: -30px;
    background: rgba(0,0,0,0.6);
    color: #fff;
    text-align: center;
}

.movie-item .movie-img {
    height: 165px;
    width: 120px;
    cursor: pointer;
}

.statistic-item {
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
}

.movie-contianer {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 550px;
    justify-content: space-around;
}

.movie-on-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: whitesmoke;
}

.movie-off-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: whitesmoke;
}

.movie-item-home {
    list-style: none;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}

.movie-item-home .movie-img {
    height: 159px;
    width: 110px;
}

.movie-item-home .movie-img:hover {
    border: 2px solid #1caf9a;
}
.movie-item .movie-img {
    height: 159px;
    width: 110px;
}

.primary-text-home {
    color: #1caf9a;
    align-self: center;
}

.statistic-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 850px;
    justify-content: space-between;
    margin-left: 40px;
}

.movie-contianer ul {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
}

.statistic-container ul {
    display: flex;
    flex-direction: column;
    height: 400px;
    padding: 10px 20px;
}

html,body{
    padding: 0;
    margin: 0;
}
ul,ul li{
    list-style: none;
    margin: 0;
    padding: 0;
}

#banner{
    position: relative;
    height:auto;
    overflow: hidden;
}
#banner ul{
    position:absolute;
}
#banner ul li{
    float: left;
}
#banner ul li img{
    width: 100%;
    height: 100%;
}
#banner #prevBtn,#banner #nextBtn{
    height:80px;
    width:30px;
    background:rgba(0,0,0,0.5);
    position:absolute;
    top:50%;
    margin-top:-40px;
    font-size:30px;
    line-height:80px;
    text-align:center;
    text-decoration:none;
    color:white;
    opacity: 0;
    transition: opacity 0.8s ease;
}
#banner #prevBtn{
    left:0;
}
#banner #nextBtn{
    right:0;
}
#banner:hover #prevBtn,#banner:hover #nextBtn{
    opacity: 1;
}
.dot{
    height:10px;
    width:10px;
    border-radius:10px;
    background:#2196f3;
    display:inline-block;
    margin:5px;
}
.on{
    background: #009688;
}
.tab-movie-tit a {
    display: block;
    margin-right: 30px;
    color: #999;
    font-size: 16px;
    margin-top: 32px;
    line-height: 26px;
    }
.tab-movie-tit a {
    display: block;
    margin-right: 30px;
    float: left;
    color: #999;
    font-size: 16px;
    margin-top: 32px;
    line-height: 26px;
}